%h1 Listing assessments

%table
  %tr
    %th Student
    %th User
    %th Value
    %th Remark
    %th Week
    %th
    %th
    %th

  - @assessments.each do |assessment|
    %tr
      %td= assessment.student_id
      %td= assessment.user_id
      %td= assessment.value
      %td= assessment.remark
      %td= assessment.week
      %td= link_to 'Show', assessment
      %td= link_to 'Edit', edit_assessment_path(assessment)
      %td= link_to 'Destroy', assessment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Assessment', new_assessment_path
