%h1 Listing weeks for course #{@course.name}

%table.table.table-striped
  %thead
    %tr
      %th Course
      %th Start
      %th
      %th

  %tbody
    - @weeks.each do |week|
      %tr
        %td= week.course ? week.course.name : "unassigned"
        %td= week.start.strftime("%a, %d.%m.%Y")
        %td= link_to 'Edit', edit_week_path(week)
        %td= link_to 'Destroy', week, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Week', new_week_path
