= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :matrnr
    = f.number_field :matrnr
  .actions
    = f.submit 'Save'
