%p#notice= notice

%p
  %b Firstname:
  = @student.firstname
%p
  %b Lastname:
  = @student.lastname
%p
  %b Email:
  = @student.email
%p
  %b Matrnr:
  = @student.matrnr

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
