= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, :class => "form-control"
  .form-group
    = f.label :start, "Timeslot"
    %div
      = select :group, :day, Group::DAYS
      @
      #{select :group, :hour, Group::HOURS} : #{select :group, :minute, Group::MINUTES}
  .form-group
    = f.label :user_id, "Tutor for Group"
    = f.collection_select :user_id, User.all, :id, :name, {include_blank: "Unassigned"}, { :class => "form-control" } 
  .form-group
    = f.label :course_id
    = f.collection_select :course_id, Course.all, :id, :name, { :selected => lambda { |c| c.id == @course.id }}, { :class => "form-control" }
  .actions
    = f.submit 'Save'
