%h1 Listing groups for #{@course.name}

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th #Students
      %th Start
      %th Tutor
      %th Course
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.students.size
        %td= group.start ? group.start.strftime("%a %H:%M") : "unassigned"
        %td= group.user ? group.user.email :  "unassigned"
        %td= group.course.name
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group', new_group_path
