%h1 Listing users

%table.table.table-striped
  %thead
    %tr
      %th Email
      %th Firstname
      %th Lastname
      %th Admin
      %th
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.firstname
        %td= user.lastname
        %td= user.admin
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to 'Reset', { controller: "users", action: "reset", id: user.id }

%br

= link_to 'New User', new_user_path
