- begin
  - r = a.execute(@course.id,@exam.present? ? @exam.id : nil)
  - if r.length == 0
    Empty result
  - else
    - keys = r[0].keys.select { |k| k.is_a? String }
    - if a.view.present?
      = Haml::Engine.new(a.view).render(Object.new,:a => a, :r => r, :keys => keys, :course_id => @course.id, :exam_id => @exam.present? ? @exam.id : nil)
    - else
      %table.table.table-condensed.table-striped
        %thead
          %tr
            - keys.each do |k|
              %th= k
        %tbody
          - r.each do |row|
            %tr
            - keys.each do |k|
              %td= row[k]
- rescue Exception => e
  %h4 An exception occured during execution:
  %pre= e.message
  %pre= e.backtrace.inspect
