%h1 Listing analyses

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Name
      %th Admin
      %th
      %th
      %th

  %tbody
    - @analyses.each do |analysis|
      %tr
        %td= analysis.name
        %td= analysis.admin
        %td= link_to 'Show', analysis
        %td= link_to 'Edit', edit_analysis_path(analysis)
        %td= button_to 'Destroy', analysis, :method => :delete

%br

= link_to 'New Analysis', new_analysis_path
%br
%br


%h1 Analyses results

- @analyses.each do |a|
  %h2= a.name
  = render "analysis", :a => a
