%h1 Listing analyses

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Name
      - if current_user.role == "admin"
        %th Admin
        %th
        %th
        %th

  %tbody
    - @analyses.each do |analysis|
      %tr
        %td= analysis.name
        - if current_user.role == "admin"
          %td= analysis.admin
          %td= link_to 'Show', analysis
          %td= link_to 'Edit', edit_analysis_path(analysis)
          %td= button_to 'Destroy', analysis, :method => :delete

%br

- if current_user.role == "admin"

  = link_to 'New Analysis', new_analysis_path
  %br
  %br


%h1 Analyses results

- @analyses.each do |a|
  %h2= a.name
  %a.togglelink Show SQL Source
  %div.toggle
    %pre= a.query
  = render "analysis", :a => a

:coffeescript
  $(document).ready ->
    $('.toggle').hide()
    $('a.togglelink').click ->
      console.log "clicked"
      $('.toggle').hide()
      $(this).next('.toggle').toggle('slow')
      return false;
