%h1 Listing courses

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th User
      %th
      %th
      %th
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.user_id
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
