- a = Assessment.where(:student => s, :week => @week).first || Assessment.new(:value => -1, :user=>current_user, :student => s, :week => @week, :group => @group)
- begin
	%tr{ "data-id" => s.id, "data-othergroup" => (a.user != @group.user && a.value >= 0) ? "1" : "0" }
		%td.count
		%td
			= form_for a, :method=>:post,:html => { :class => "form-inline", :onsubmit => "return false;" } do |f|
				%input(id="assessment_user_id" name="assessment[user_id]" type="hidden" value=@group.user)
				= f.hidden_field :week_id
				= f.hidden_field :student_id
				= f.hidden_field :group_id
				.input-group.pull-left(style="width: 120px")
					%span.input-group-btn
						%button.btn.btn-default.point-adjust.btn-sm(type="button" data-value="-1") -
					= f.text_field :value, :class=>"form-control input-sm", :readonly => true, :style => "background-color: white"
					%span.input-group-btn
						%button.btn.btn-default.point-adjust.btn-sm(type="button" data-value="+1") +

				- if a.user != @group.user && a.value >= 0
					.pull-left(style="margin-left:10px")
						.div.enable-tooltip(title="Attended tutorial #{a.group.name} by #{a.user.name}.")
							%i.glyphicon.glyphicon-plane
				- if a.user == @group.user && s.groups.where(:course => @group.course).first.user != @group.user
					.pull-left(style="margin-left:10px")
						.div.enable-tooltip(title="This student is temporarily in this group. His original group is #{s.groups.where(:course => @group.course).first.name} held by #{s.groups.where(:course => @group.course).first.user.name}.")
							%i.glyphicon.glyphicon-pushpin

		%td.total= s.total(@group.course)
		%td.lastname
			%a(href="mailto:#{s.email}")=s.lastname
		%td.firstname
			%a(href="mailto:#{s.email}")=s.firstname
		%td.matrnr= "****#{"%03d" % (s.matrnr%1000)}"
- rescue
	%tr
		%td(colspan="6") There's been a horrible bug; please oh please email Henrik quickly.