%h1 Load data

.row
	.col-md-6
		%h2 Load TUMonline students
		= form_for :load, :url => { :action => :tumonline }, :method => "post" do |f|
			.form-group
				%label Course:
				= @course.name
			.form-group
				%label CSV file from TUMonline:
				= f.file_field :file
			.form-group
				%button.btn.btn-sm.btn-submit(type="submit") Import TUMonline data

	.col-md-6
		%h2 Load tutors
		= form_for :load, :url => { :action => :tutoren }, :method => "post" do |f|
			.form-group
				%label Course:
				= @course.name
			.form-group
				%label CSV file from Assigner / other source:
				= f.file_field :file
			.form-group
				%button.btn.btn-sm.btn-submit(type="submit") Import TUMonline data
