!!! 5
%html
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%title Tutor
		%script(type="text/javascript" src="https://www.google.com/jsapi")
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true, :debug => true
		= javascript_include_tag "application", "data-turbolinks-track" => true, :debug => true
		= csrf_meta_tags
		:css
			.container { max-width: 9999px; width: 95%; }

	%body
		- if current_user && current_user.role == "admin"
			%div.navbar.navbar-default.navbar-inverse.navbar-static-top
				%div.navbar-header
					%button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.navbar-brand(href="#") Tutor
				%div.navbar-collapse.collapse
					%ul.nav.navbar-nav
						- if user_signed_in? and current_user.role == "admin"
							%li.dropdown
								%a(href="#" data-toggle="dropdown") 
									Tutorials
									%b.caret

									%ul.dropdown-menu
										%li
											%a(href="/analyses/") Analyses
										%li
											%a(href="/load/") Load
										%li
											%a(href="/users/") Tutors
										%li
											%a(href="/weeks/") Weeks
										%li
											%a(href="/groups/") Groups
							%li.dropdown
								%a(href="#" data-toggle="dropdown") 
									Exams
									%b.caret

									%ul.dropdown-menu
										%li
											%a(href="/exams") Exams
										%li
											%a(href="/rooms") Rooms
							%li.dropdown
								%a(href="#" data-toggle="dropdown") 
									Setup
									%b.caret

									%ul.dropdown-menu
										%li
											%a(href="/courses/") Courses
										%li
											%a(href="/students/") Students
							%li
								%a(href="/about/") About

					- if not user_signed_in?
						%form.navbar-form.navbar-right.pull-right(action="/users/sign_in" method="post")
							%button.btn-sm.btn.btn-submit(type="submit") Login
					- else
						%ul.nav.navbar-nav.navbar-right
							- if current_user.role == "admin"
								%li.navbar-text
									Switch course:
								%li.navbar-form
									= render :partial => "layouts/course_switcher"
								%li.navbar-text
									Switch user:
								%li.navbar-form
									= switch_user_select 
									:coffeescript
										$(document).ready -> 
											$("#switch_user_identifier").addClass("form-control")
											$("#remember_user").addClass("switch-mini");
											$("#remember_user").bootstrapSwitch();
							%li.navbar-form
								= button_to 'Logout', destroy_user_session_path, { :method => :get, :class => "btn btn-xs btn-default form-control" }
							%li.navbar-text


		%div.container
			- unless notice.blank? and alert.blank?		
				%div.col-md-12
					- if notice
						%p.notice= notice
					- if alert
						%p.alert= alert

			= yield


			- if current_user && current_user.role!="admin" and session["original_user"] && session["original_user"].role=="admin"
				= switch_user_select 
